.header-container {
  width: 90%;
}
.description--text-details p {
  font-size: 2rem;
}
.description--text-details h1 {
  font-size: 2.9rem;
}
.description--text-details h2 {
  font-size: 3.2rem;
}
.social-container--img {
  height: 73vh;
}
