:root {
  --white-gray: #fafafa;
  --blue-white: #e8f1f5;
  --primary-blue: #005691;
  --dark-blue: #004a7c;
  --primary--red: #fc636b;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 10px;

  box-sizing: border-box;
  overflow: hidden;
}
.header--nav-icon {
  height: 20px;
  width: 20px;
  background-image: url('/assets/icons/bars-solid.svg');
}
.description--profile-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.nav-link {
  font-size: 1.8rem;
}
.bg-light {
  background-color: #fff !important;
}
main {
  width: 100%;
  height: 89.1vh;
  box-sizing: border-box;
}
.description-container {
  position: relative;
  width: 80%;
  height: 450px;
  margin: 10px auto 0;
  z-index: 2;
  box-sizing: border-box;
}
.description--text-details {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 270px;
  max-width: 500px;
  padding-top: 20px;
  margin: 0 auto;
  z-index: 2;
}
.description--text-details p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: rgba(0, 0, 0, 0.55);
}
.description--text-details h1 {
  font-size: 2.6rem;
  line-height: 5.8rem;
  font-weight: bold;
  color: var(--dark-blue);
}
.description--text-details h2 {
  font-size: 3rem;
  line-height: 5.8rem;
  font-weight: bold;
  color: var(--primary--red);
}
.btn-outline-primary {
  width: 180px;
  height: 36px;
  align-self: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 50px;
  border: none;
  background-color: var(--primary--red);
  color: var(--blue-white);
}
.social-container {
  position: relative;
  z-index: 0;
  top: -170px;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.social-container--img {
  width: 90%;
  height: 65vh;
  background-image: url('/assets/images/fondev.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.social-container--icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-bottom: 50px;
}
.icon {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}
.icon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.64);
  transition: all 300ms;
}
.icon__linkedin {
  background-image: url('/assets/icons/linkedin-brands.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon__twitter {
  background-image: url('/assets/icons/twitter-square-brands.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon__github {
  background-image: url('/assets/icons/github-brands.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
